@model ConFin.Web.ViewModel.UsuarioViewModel
@{ Layout = "~/Views/Shared/_LayoutLogin.cshtml"; }

<div class="section" id="divLogo" style="text-align: center;">
    <img style="" class="responsive-img" src="~/Content/Imagens/logo2.png" alt="Logo"/>
</div>

<main id="mainLogin" style="display: none; text-align: center; margin-top:30px">
    <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0 48px; border: 1px solid #EEE;">
            <form id="formLogin" class="col s12" method="POST" action="@Url.Action("RedirectToHome", "Login")">
                <div class="row">
                    <div class="col s12 indigo-text">Acesse sua Conta</div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input class="validate" type="email" name="Email" id="txtEmail" />
                        <label for="txtEmail">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input class="validate" type="password" name="Senha" id="txtSenha" />
                        <label for="txtSenha">Senha</label>
                    </div>
                    <label style="float: right;">
                        <a class="pink-text waves-effect waves-light modal-trigger" href="#modalRecuperarSenha"><b>Esqueceu a senha?</b></a>
                    </label>
                </div>
                <div style="text-align: center;">
                    <div class="row">
                        <button id="btnSubmitLogin" type="submit" name="btn_login" class="col s12 btn-large waves-effect indigo">Acessar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <a href="javascript:void(0)" onclick="criarConta()">Criar conta</a>
</main>

<main id="mainNovaConta" style="display: none; text-align: center">
    @Html.Partial("../Login/_CadastrarConta")
</main>


<div id="modalRecuperarSenha" class="modal" style="font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif">
    @Html.Partial("../Login/_ModalRecuperarSenha")
</div>


<script>
    verifyLabelActive();

    var urlGetLogin = '@Url.Action("Get", "Login")';

    $("#btnSubmitLogin").click(function (e) {
        e.preventDefault();
        $('.toast').remove();

        if (isFieldEmpty($("#txtEmail, #txtSenha"))
            || $.toast({ condition: !isValidEmail($("#txtEmail").val()), message: "Endereço de e-mail inválido" }))
            return false;

        $.post(urlGetLogin, $("#formLogin").toObject()).success(function () {
            loading();
            $("#formLogin").submit();
        });
    });

    function criarConta() {

        $("#formLogin")[0].reset();
        $("#divErrorLogin").empty();

        $("#mainLogin").hide(function () {
            $("#mainNovaConta").show();
        });
    }

</script>
