@model ConFin.Common.Domain.Dto.UsuarioDto

<div class="container">
    <div class="section" style="text-align: center">
        <h1 style="color: gray; font-size: 20pt;" class="caption">Home</h1>
        <div class="divider"></div>
    </div>
</div>
