@using ConFin.Common.Web.Extension



<div style="z-index: 100; background-color: #00BFFF" class="navbar-fixed">
    <nav style="background-color: #00BFFF">
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                <li class="darkBackground" onclick="exibeNotificacoes()">
                    <a class="fa fa-globe" >
                        <div id="divSpansNotificacao">
                            <span class="fa fa-comment"></span>
                            <span class="num">5</span>
                        </div>
                       
                    </a>
                </li>
                <li>
                    <a class="dropdown-button" href="javascript:void(0)" data-activates="comboOpcoesUsuario">
                        @ViewBag.Email
                        <i class="material-icons right">account_circle</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<ul id="ulNotificacao" class="collection" style="display: none; width: 30%; position: absolute; right: 0; z-index: 3">
    <li class="collection-item avatar">
        <i class="material-icons">tag_faces</i>
        <span class="title">Uau!</span>
        <p> Todas notificações já foram lidas
        </p>
        <a href="#!" class="secondary-content">Exibir lidas</a>
    </li>

    <li class="collection-item avatar">
        <img src="~/Content/Imagens/user.png" alt="usuário" class="circle">
        <span class="title">Edmar Costa</span>
        <p> Deseja compartilhar uma conta com você</p>
        <a title="Exibir" href="javascript:void(0)" class="secondary-content"><i class="material-icons">call_made</i></a>
    </li>

</ul>


<ul id="comboOpcoesUsuario" class="dropdown-content">
    <li><a href="javascript:void(0)" onclick="showModalUsuario()"><i class="material-icons">build</i>Perfil</a></li>
    <li class="divider"></li>
    <li><a href="@Url.AbsoluteAction("Home", "Logout")"><i class="material-icons">exit_to_app</i>Sair</a></li>
</ul>


<a href="javascript:void(0)" style="position: fixed; z-index: 101; top: 16px; left: 16px; color: #eeeeee" data-activates="menuLateral"
   class="button-collapse tooltipped" data-position="right" data-delay="25" data-tooltip="Menu">
    <i class="small material-icons">menu</i>
</a>


<script>

    var urlModalUsuario = '@Url.Action("ModalDadosUsuario", "Usuario")';

    function showModalUsuario() {

        $.get(urlModalUsuario).success(function(data) {
            $("#containerPrincipal").append(data);
            $('#modalDadosUsuario').modal({
                complete: function() {
                    $('#modalDadosUsuario').remove();
                    removeToastsError();
                }
            });
            $("#modalDadosUsuario").modal("open");
            verifyLabelActive();
        });
    }


    function exibeNotificacoes() {
        $("#ulNotificacao").slideToggle();
        $("#divSpansNotificacao").fadeOut("slow");
    }

</script>
