<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConFin - Controle Financeiro Pessonal</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/common.css" />
    <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

    <script type="text/javascript" src="~/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/js/nouislider.min.js"></script>
    <script type="text/javascript" src="~/js/wNumb.js"></script>
    <script type="text/javascript" src="~/js/malsup-form.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.2.js"></script>

    <script>
        $(document).ready(function () {
            $('.date').mask('00/00/0000', { placeholder: "__/__/____" });
            $('.time').mask('00:00:00');
            $('.date_time').mask('00/00/0000 00:00:00');
            $('.cep').mask('00000-000');
            $('.phone').mask('0000-0000');
            $('.phone_with_ddd').mask('(00) 0000-0000');
            $('.phone_us').mask('(000) 000-0000');
            $('.mixed').mask('AAA 000-S0S');
            $('.cpf').mask('000.000.000-00', { reverse: true });
            $('.cnpj').mask('00.000.000/0000-00', { reverse: true });
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money2').mask('000.000.000.000.000,00', { reverse: true });

            $('.percent').mask('##0,00%', { reverse: true });
            $('.clear-if-not-match').mask("00/00/0000", { clearIfNotMatch: true });

            $('.selectonfocus').mask("00/00/0000", { selectOnFocus: true });
        });

        // função para esconder as notificações
        $(document).on("click", function (e) {
            if (!$(e.target).hasClass("notificacao") && !$(e.target).closest("#ulNotificacao").length)
                $("#ulNotificacao").slideUp();
        });

    </script>

    <style>
        .footer {
            position: fixed !important;
            bottom: 0 !important;
            width: 100% !important;
            z-index: 2;
            background-color: #00BFFF;
        }
        .page-footer {
            padding-top: 8px !important;
        }
    </style>
</head>
<body>

    @Html.Partial("_Cabecalho")
    @Html.Partial("_MenuLateral")

    <footer class="footer page-footer">
        <div id="divResumoSaldo" class="container" style="display: none">
            <div class="row">
                <div class="col l3 s12">
                    <h5 class="white-text">Resumo Financeiro</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3">Previsto</a></li>
                        <li><a class="grey-text text-lighten-3">Realizado</a></li>
                    </ul>
                </div>
                <div class="col l2 offset-l2 s12">
                    <h5 class="white-text">Despesas</h5>
                    <ul>
                        <li id="liDespesaPrev">-</li>
                        <li id="liDespesaRealiz">-</li>
                    </ul>
                </div>
                <div class="col l2 offset-l2 s12">
                    <h5 class="white-text">Receitas</h5>
                    <ul>
                        <li id="liReceitaPrev">-</li>
                        <li id="liReceitaRealiz">-</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col s2 center-align">
                        <p style="margin-top: 0!important;" class="grey-text text-lighten-4 ">Saldo Anterior: (R$)</p>
                        <p style="font-size: 25pt; margin: -25px"><span id="spanSaldoAnterior">-</span></p>
                    </div>
                    <div class="col s8 center-align">
                        <p style="margin-top: 0!important;" class="grey-text text-lighten-4 ">Saldo Atual: (R$)</p>
                        <p style="font-size: 25pt; margin: -25px"><span id="spanSaldoAtual">-</span></p>
                    </div>
                    <div class="col s2 center-align">
                        <p style="margin-top: 0!important;" class="grey-text text-lighten-4 ">Saldo Previsto: (R$)</p>
                        <p style="font-size: 25pt; margin: -25px"><span id="spanSaldoPrev">-</span></p>
                    </div>
                    
                    <a style="position: absolute; bottom: 30px; right: 20px;" href="javascript:void(0)"
                       onclick="slideToggleResumoSaldo(this)" class="tooltipped up grey-text text-lighten-4"
                       data-position="top" data-delay="25" data-tooltip="Exibir Resumo Financeiro">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </a>

                </div>
                

                

                
            </div>
        </div>
    </footer>

    <div data-id-usuario="@ViewBag.Id" class="container" id="containerPrincipal">
        @RenderBody()
    </div>

</body>
</html>



<script>

    function slideToggleResumoSaldo(button) {
        if ($(button).hasClass("up")) {
            $(button).removeClass("up");
            $(button).attr("data-tooltip", "Ocultar Resumo Financeiro").tooltip();
            $(button).find("i").text("keyboard_arrow_down");

            $("#divResumoSaldo").slideDown();
        } else {
            $(button).addClass("up");
            $(button).attr("data-tooltip", "Exibir Resumo Financeiro").tooltip();
            $(button).find("i").text("keyboard_arrow_up");
            $("#divResumoSaldo").slideUp();
        }
    }

    $(".button-collapse").sideNav();
    $('.tooltipped').tooltip({ delay: 25 });
    $('.modal').modal();
    $('select').material_select();

</script>