
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConFin - Controle Financeiro Pessonal</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/login.css" />
    <link type="text/css" rel="stylesheet" href="~/css/common.css" />

    <script type="text/javascript" src="~/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>

</head>
<body>

    @RenderBody()

</body>
</html>

<script>$('#mainLogin').show(1000)</script>
