<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConFin - Controle Financeiro Pessonal</title>

    <link type="text/css" rel="stylesheet" href="~/Css/material-icon.css">
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="~/css/login.css" />

    <script type="text/javascript" src="~/Js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Js/materialize.min.js"></script>

    <script>
        $(document).ready(function () { $('select').material_select(); });
    </script>
    <style>
        .preloader-background {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #eee;
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>

</head>
<body>

    @Html.Partial("_Cabecalho")
    @Html.Partial("_MenuLateral")

    <div class="container" id="containerPrincipal">
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/Js/Common.js"></script>

</body>
</html>

<script>

    $(".button-collapse").sideNav();
    $('.tooltipped').tooltip({ delay: 25 });
    $('.modal').modal();

</script>