
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConFin - Controle Financeiro Pessonal</title>
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="~/css/login.css"/>

    <script type="text/javascript" src="~/Js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="~/Js/materialize.min.js"></script>

</head>

<body>

@RenderBody()

<script type="text/javascript" src="~/Js/Common.js"></script>

</body>

</html>

<script>$('#mainLogin').show(1000)</script>


