
@{ Layout = null; }

<div class="modal-content">
    <div class="section" style="text-align: center">
        <h1 style="color: gray; font-size: 20pt;" class="caption">Relatório de Lançamentos</h1>
        <div class="divider" style="margin-top: -5px;"></div>
    </div>
    <div class="row">
        <form id="formRelLancamentos" class= "col s12">
            <div class="row">
                <div class="input-field col s3"></div>
                <div class="input-field col s3">
                    <input id="txtDataRelatorio" type="text" class="month-year">
                    <label for="txtDataRelatorio" class="active">Mês/Ano</label>
                </div>
                <div class="input-field col s3">
                    <button onclick="gerarRelLancamento()" class="btn waves-effect waves-light" type="button" name="action">Gerar
                        <i class="material-icons">file_download</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>

    var urlGerarRelLancamento = '@Url.Action("Gerar", "RelLancamento")';

    function gerarRelLancamento() {
        $('.toast').remove();

        $.toast({ condition: !$("#txtDataRelatorio").val(), message: "Favor preencher o campo Mês/Ano" });

        if ($('.toast').length)
            return false;

        var data = $("#txtDataRelatorio").val().split("/");
        window.open(urlGerarRelLancamento + "?mes=" + data[0] + "&ano=" + data[1]);
    }

</script>
