@using System.Web.UI.WebControls
@using ConFin.Common.Web.Extension
@model ConFin.Web.ViewModel.UsuarioViewModel
@{ Layout = null; }

<div id="modalDadosUsuario" class="modal">

    <div class="modal-content">
        <div class="section" style="text-align: center">
            <h1 style="color: gray; font-size: 20pt;" class="caption">Perfil do Usuário</h1>
            <div class="divider" style="margin-bottom: 30px"></div>
        </div>
        <div class="row">
            <form id="formDadosUsuario" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="txtNomeUsuario" type="text" class="validate" maxlength="50" name="Nome" value="@Model.Nome">
                        <label for="txtNomeUsuario">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="txtEmailUsuario" type="text" class="validate" maxlength="50" name="Email" value="@Model.Email">
                        <label for="txtEmailUsuario">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input id="txtSenhaAtual" name="Senha" type="password" class="validate" maxlength="50">
                        <label for="txtSenhaAtual">Senha atual</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="txtNovaSenha" type="password" class="validate" maxlength="50" name="NovaSenha">
                        <label for="txtNovaSenha">Nova senha</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="txtConfirmarNovaSenha" type="password" class="validate" maxlength="50">
                        <label for="txtConfirmarNovaSenha">Confirmar nova senha</label>
                    </div>
                </div>
            </form>
        </div>

    </div>
    
    <div class="modal-footer">
        <a href="javascript:void(0)" onclick="editarPerfilUsuario()" style="color: green" class="modal-action waves-effect waves-green btn-flat">Confirmar</a>
        <a href="javascript:void(0)" style="color: red" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
</div>

<script>

    $('#btnShowDivsAlterarSenha, #btnDesativarUsuario').tooltip({ delay: 25 });

    var urlPutPerfil = '@Url.Action("Put", "Usuario")';

    function editarPerfilUsuario() {
        $('.toast').remove();

        isFieldEmpty($("#txtNomeUsuario, #txtEmailUsuario"));

        $.toast({
            condition: !!$("#txtSenhaAtual").val() && !$("#txtNovaSenha").val() && !$("#txtConfirmarNovaSenha").val(),
            message: "Caso deseje redefinir a senha, favor informar os nova senha e confirmar nova senha"
        });

        if (!!$("#txtNovaSenha").val() || !!$("#txtConfirmarNovaSenha").val()) {
            $.toast({ condition: !$("#txtSenhaAtual").val(), message: "Favor preencher o campo Senha atual caso queira redefini-la" });
            $.toast({ condition: !$("#txtConfirmarNovaSenha").val(), message: "Favor preencher o campo Confirmar nova senha caso queira redefini-la" });
            $.toast({ condition: !$("#txtNovaSenha").val(), message: "Favor preencher o campo Nova senha caso queira redefinir sua senha" });
            $.toast({
                condition: !!$("#txtNovaSenha").val() && !!$("#txtConfirmarNovaSenha").val() && $("#txtNovaSenha").val() != $("#txtConfirmarNovaSenha").val(),
                message: "Os campos de Nova Senha estão diferentes"
            });
        }

        if ($('.toast').length)
            return false;

        $.post(urlPutPerfil, $("#formDadosUsuario").toObject()).success(function (message) {
            $("#modalDadosUsuario").modal("close");
            $.toast({ message: message, type: "success" });
        });
    }

</script>
