.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

table:not(.highlight) tbody tr, .collection-item:hover {
    background-color: lightblue !important;
}

.picker__footer {
    display: none;
}

#containerPrincipal {
    width: 100% !important;
}

table tbody td {
    padding: 5px 5px;
}

.btnAdd {
    right: 10%;
    bottom: 30%
}

 /*Icone de Notificação do cabeçalho*/

a.fa-globe {
    position: relative;
    font-size: 2em;
    color: whitesmoke;
    cursor: pointer;
}

span.fa-comment {
   position: absolute;
    font-size: 0.75em;
    top: -9px;
    color: darkblue;
    right: 0;
}
span.num {
    position: absolute;
    font-size: 0.5em;
    top: -7px;
    color: #fff;
    right: 7px;
}


li.darkBackground:hover, a.fa-globe:hover {
    background-color: rgb(49, 159, 196);
    cursor: pointer;
}