.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

table:not(.highlight) tbody tr:hover {
    background-color: lightblue !important;
}

.picker__footer {
    display: none;
}

#containerPrincipal {
    width: 100% !important;
}

table tbody td {
    padding: 5px 5px;
}

.btnAdd {
    right: 10%;
    bottom: 30%
}